<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form #fc="ngForm" (ngSubmit)="onSubmit(fc)"> 

    <div class="form-group">
      <label>Artista</label>
      <input type="text" class="form-control" [(ngModel)]="letra.artista" name="artista" required />
    </div>
    <div class="form-group">
      <label>Álbum</label>
      <input type="text" class="form-control" [(ngModel)]="letra.album" name="album" required />
    </div>
    <div class="form-group">
      <label>Música</label>
      <input type="text" class="form-control" [(ngModel)]="letra.musica" name="musica" required />
    </div>
      


  
  <div class="form-group">
    <label for="foto"></label>
    <input type="file" (change)="onFileSelected($event)">
    <!-- <button type="button" (click)="onUpload()">Enviar</button> -->
  </div>
  
  <button type="submit" [disabled]="fc.invalid" class="btn btn-primary" (click)="onUpload()">Salvar</button>
  <button type="reset" class="btn btn-primary" (click)="cancel()">Cancelar</button>
</form>
</ion-content>