<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #fc="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <ion-item>
          <ion-label position="floating">Artista</ion-label>
          <ion-input color="dark" type="text" 
          class="form-control" [(ngModel)]="letra.artista" name="artista" required></ion-input>
        </ion-item>
      </div>
      <div class="form-group">
        <ion-item>
          <ion-label position="floating">Álbum</ion-label>
          <ion-input color="dark" type="text" 
          class="form-control" [(ngModel)]="letra.album" name="album" required></ion-input>
        </ion-item>
      </div>
      <div class="form-group">
        <ion-item>
          <ion-label position="floating">Música</ion-label>
          <ion-input color="dark" type="text" 
          class="form-control" [(ngModel)]="letra.musica" name="musica" required></ion-input>
        </ion-item>
      </div>
      <div class="form-group">
        <ion-item>
          <ion-label position="floating">Gênero</ion-label>
          <ion-input color="dark" type="text" 
          class="form-control" [(ngModel)]="letra.genero" name="genero" required></ion-input>
        </ion-item>
      </div>

    <ion-button type="submit" [disabled]="fc.invalid" size="small" color="success">Salvar</ion-button>
    <ion-button type="reset" size="small" color="danger" (click)="cancel()">Cancelar</ion-button>
  </form>
</ion-content>