<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Álbum
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-item *ngIf="letra$ | async as letra" color="light">

  <ion-avatar slot="start" >
    <img src="https://4.bp.blogspot.com/-Sc1X8aVn7Xc/UyoSN0gmWuI/AAAAAAAAJlQ/UXNYVrsTL9s/s1600/PNG+-+Disco+2.png">
  </ion-avatar>
<ion-label [routerLink]="[ '/artista',key]">
  {{letra.artista}}
</ion-label>
<p>
  {{letra.album}}
</p> 
</ion-item>
<ion-item *ngIf="letra$ | async as letra" color="tertiary">
<h4 [routerLink]="[ '/musica',key]">
  {{letra.musica}}
</h4>
</ion-item>


</ion-content>
