<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Artistas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngFor="let letra of letras | async">
      <ion-avatar slot="start" >
          <img src="https://4.bp.blogspot.com/-Sc1X8aVn7Xc/UyoSN0gmWuI/AAAAAAAAJlQ/UXNYVrsTL9s/s1600/PNG+-+Disco+2.png">
        </ion-avatar>
      <ion-label [routerLink]="[ '/artista',letra.key]">
        {{letra.artista}}
      </ion-label>
    </ion-item>
</ion-content>