<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Artista
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item *ngIf="letra$ | async as letra">
        <ion-avatar slot="start" >
            <img src="https://4.bp.blogspot.com/-Sc1X8aVn7Xc/UyoSN0gmWuI/AAAAAAAAJlQ/UXNYVrsTL9s/s1600/PNG+-+Disco+2.png">
          </ion-avatar>
        <ion-label>
          {{letra.artista}}
        </ion-label> 
      </ion-item>
    <ion-item *ngIf="letra$ | async as letra" color="tertiary">
        <h4 [routerLink]="[ '/musica',key]">
          {{letra.musica}}
        </h4>
    </ion-item>
    <ion-item *ngIf="letra$ | async as letra" color="medium">
        <p [routerLink]="[ '/album',key]">
          {{letra.album}}
        </p>
    </ion-item>
  <!-- <table *ngIf="letra$ | async as letra">
    <tr class="bg-dark text-light">
      <th>Artista</th>
      <th>Álbum</th>
      <th>Música</th>
    </tr>
    <tr>
      <td>{{letra.artista}}</td>
      <td [routerLink]="[ '/album',key]">{{letra.album}}</td>
      <td [routerLink]="[ '/musica',key]">{{letra.musica}}</td>
    </tr>
  </table> -->
</ion-content>
