<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

    <ion-content>
    <!--    <ion-item>
            <ion-label>
              Artista
            </ion-label>
            <ion-label>
              Álbum
            </ion-label>
            <ion-label>
              Música
            </ion-label>
          </ion-item>
   <ion-grid>
      <ion-row *ngFor="let letra of letras | async" >
        <ion-col><ion-chip><ion-label color="dark" [routerLink]="[ '/artista',letra.key]">{{letra.artista}}</ion-label></ion-chip></ion-col>
        <ion-col><ion-chip><ion-label color="dark" [routerLink]="[ '/album',letra.key]">{{letra.album}}</ion-label></ion-chip></ion-col>
        <ion-col><ion-chip><ion-label color="dark" [routerLink]="[ '/musica',letra.key]">{{letra.musica}}</ion-label></ion-chip></ion-col>
        
        <ion-col>
        <ion-button size="small" color="warning" (click)="edit(letra, letra.key)">Editar</ion-button>
        <ion-button size="small" color="danger" (click)="delete(letra.key)">Excluir</ion-button>
      </ion-col> 

      </ion-row>
  </ion-grid> -->


  <ion-item *ngFor="let letra of letras | async">
    <ion-avatar slot="start" >
      <img src="https://4.bp.blogspot.com/-Sc1X8aVn7Xc/UyoSN0gmWuI/AAAAAAAAJlQ/UXNYVrsTL9s/s1600/PNG+-+Disco+2.png">
    </ion-avatar>
    <ion-label>
      <h2 [routerLink]="[ '/artista',letra.key]">{{letra.artista}}</h2>
      <h3 [routerLink]="[ '/album',letra.key]">{{letra.album}}</h3>
      <p [routerLink]="[ '/musica',letra.key]">{{letra.musica}}</p>
      <p>{{letra.genero}}</p>
      
    </ion-label>
    
    

    
  </ion-item>
  </ion-content>